<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plantilla base{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Esta es la cabecera de mi app</h1>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('saludo',  name = 'amigo')}}">Saluda</a>
                </li>
                <li>
                    <a href="{{ url_for('catalogo', nombre='algo')}}">Catalogo</a>
                </li>
            </ul>
            <hr>
        </nav>
    </header>
    <main>
        <h1>Contenido de mi pagina</h1>
        {% block content %}{% endblock %}
        <footer>
            <hr>
            2025&copy; IES Las Galletas
        </footer>
    </main>
</body>

</html>