<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estoy en catálogo</h1>
    <h2>Nombre: {{ nombre }}</h2>
    <p>Mostrando el producto con el id: {{ id_product }}</p>
    <ul>
        {% for producto in lista_productos %}
        <li>
        <strong>{{producto.nombre}}</strong>
        <strong>{{producto.precio}}€</strong>
        {% if producto.disponible %}
        <span style = "color: green">En stock</span>
        {% else %}
        <span style = "color: red">Agotado</span>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>